/* body {
    background-image: linear-gradient(to left top, #FFFFFF, #BFC0C0);
    height: 160vh;
} */

header {
    background-image: linear-gradient(to bottom, #4F5D75, #2D3142);
    color: white;
    margin-bottom: 20px;
}

#city-search {
    margin-top: 1rem;
    margin-bottom: 1.7rem;
    width: 100%;
}



.ui-menu-item {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    list-style: none;
}

.ui-autocomplete {
    margin: 0;
    margin-block-start: 0;
    padding: 0;
    width: auto;
    background-color: #FFFFFF;
    position: absolute;
    z-index: 5;
}

.ui-helper-hidden-accessible {
    display: none;
}


hr {
    background-color: #2D3142;
    width: 90%;
    margin: 0;  
}


#today {
    padding: 10px 30px;
    box-shadow: 0 0px 8px #2D3142;
    display: none;
}


#today-header {
    display: flex;
    align-items: center;
}


#forecast-header,
#forecast-display {
    width: 99%;
}

#forecast-header {
    padding: 10px 0;
    margin-left: 50px
}

#forecast-display {
    justify-content: space-around;
    margin-left: 10px
}

.card {
    padding: 20px;
    margin: 10px 0;
    font-size: 93%;
}


.forecast-icon {
    height: 30%;
    width: 30%;
    padding-bottom: 20px;
}