body {
    background-image: linear-gradient(to left top, #FFFFFF, #BFC0C0);
    height: 100vh;
}

header {
    background-image: linear-gradient(to bottom, #4F5D75, #2D3142);
    color: white;
}





.ui-menu-item {
    border: 1px solid black;
    padding: 20px; 
    text-align: center;
    list-style: none;
}

.ui-autocomplete {
    margin: 0;
    margin-block-start: 0;
    padding: 0;
    width: auto;
}

.ui-helper-hidden-accessible {
    display: none;
}

#today {
    padding: 10px 30px;
    background-color: #58A22A;
    color: #FFFFFF;
}

#today-content {
   
}

#today-header {
    display: flex;
    align-items: center;
}


#forecast-header,
#forecast-display {
    width: 100%;
}

#forecast-header {
    padding: 10px 0;
    margin-left: 50px
}

#forecast-display {
    justify-content: space-around;
    margin-left: 10px
}

.card {
    padding: 20px;
    margin: 10px 0;
}


.forecast-icon {
    height: 30%;
    width: 30%;
    padding-bottom: 20px;
}